.container {
	max-width: $website-width;
	padding: 0 1.5rem;
	margin: auto;
	overflow: hidden;
}
%btn-shared{
	display:inline-block;
	padding: 0.7rem 1.6rem;
	cursor: pointer;
	transition: 0.5s;
}

.btn{
	&-light{
		@extend %btn-shared;
		background: $light-color;
		&:hover{
			background: $main-color;
		}
	}
	&-dark{
		@extend %btn-shared;
		background: $dark-color;
		color: #fff;
		border: none;
		&:hover{
			background-color: $main-color;
			
		}
	}
}
.lead{
	text-align: center;
	font-size: 1.3rem;
	padding-bottom: 2rem;
}
.text-center{
	text-align: center;
}
// Padding 
.py{
	&-1{
		padding: 1rem 0;
	}
	&-2{
		padding: 2rem 0;
	}
	&-3{
		padding: 3rem 0;
	}
	&-4{
		padding: 4rem 0;
	}
}

.my{
	&-1{
		margin: 1rem 0;
	}
	&-2{
		margin: 2rem 0;
	}
	&-3{
		margin: 3rem 0;
	}
	&-4{
	   margin: 4rem 0;
	}
}


// color 
.bg{
	&-light{
		background: $light-color;
	}
	&-dark{
		background: $dark-color;
		color: #fff;
	}
	&-main{
		background: $main-color;
		color: #fff;
	}
}


.bottom-line{
	height: 2px;
	width: 3rem;
	display: block;
	margin: 0 auto 1rem auto;
	background-color: $main-color;
}
.section-title{
	font-size: 2rem;
	padding-bottom: .4rem;
	display: block;
	text-align: center;
}